.container {
  display: grid;
  place-items: center;
}

.display {
  display: grid;
  place-items: center;
  width: 300px;
  aspect-ratio: 1;
  margin-top: 2em;
  border: .5rem solid var(--clr-neutral-100);
  font-weight: 800;
  color: var(--clr-neutral-900);
  outline: .5rem solid var(--clr-neutral-900);
}

.display {
  border-radius: 3.5rem;
}
img {
  border-radius: 3rem;
}