:root {
  --clr-text-heading: #884ee6;
  --clr-text: #FFE3F1;
  --clr-neutral-100: white;
  --clr-neutral-900: black;
  --gradient: linear-gradient(135deg #884ee6, #ba52de, #e59dd6);
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div,
input,
p,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: clamp(1rem, 14.8387rem + 5.1613vw, 2rem);
  color: var(--clr-text);
  background-color: var(--clr-neutral-100);
  color-scheme: light dark;
}

.container {
  width: 600px;
  max-width: 90vw;
  margin-inline: auto;
}

h1,
p,
input {
  font-family: 'Lora', serif;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}